body {
  margin: 0;
}

/* navbar styles */
.navbar {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* todo styles */

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.todo-par {
  font-weight: 600;
  background-color: bisque;
  color: crimson;
}

/* contact & joke styles */
.contacts,
.jokes,
.products {
  display: flex;
  flex-wrap: wrap;
  background-color: #9fc4aa;
  color: #ffffff;
}

.contact-card,
.joke-card,
.product-card {
  flex-basis: 250px;
  margin: 20px;
}

.contact-card>img {
  width: 100%;
  height: auto;
}

.contact-card>h3,
.joke-card>h3,
.product-card {
  text-align: center;
}

.contact-card>p {
  font-size: 12px;
}

/* states */

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
}

button {
  border: 1px solid lightgray;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}